
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class=" input-container">
            <i class="fa fa-user icon"></i>
          <input type="email" id="form-email" class="form-control validate" placeholder="Email">
        </div>

        <div class="input-container">
          <i class="fa fa-key icon"></i>
          <input type="password" id="form-pass" class="form-control validate" placeholder="Password">
        </div>

      </div>

      <div class="modal-footer d-flex justify-content-center">
        <% if (userData == 0) { %>
        <button id="login" class="btn btn-primary">Login</button>
        <% } else {  %>
        <button id="logout" class="btn btn-danger">Log Out</button>
        <%  } %>
        <button id="openSignup" href="" class="btn btn-success" data-toggle="modal" data-dismiss="modal" data-target="#modalRegisterForm">Sign Up</button >
        
      </div>
    </div>
  </div>
</div>
